body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #EBEBEB;
}

.appbar {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    background-color: #4C75A3;
    color: #fff;
    height: 40px;
}

.appbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* CSS for the main page link on the left */
.main-page {
    margin-left: 404px;
    margin-right: 36px;
}

/* CSS for the search bar in the middle */
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3px;
    height: 22px;
    width: 225px;
}

/* CSS for the search icon */
.search-icon {
    margin-left: 4px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

/* CSS for the search input field */
.search-input {
    border: none;
    width: 100%;
    padding: 5px;
    margin-right: 5px;
}

textarea:focus, input:focus {
    outline: none;
}

.notification-icon {
    width: 22px;
    height: 22px;
    mix-blend-mode: multiply;
    background-color: #ffffff;
    margin-left: 30px;
}

.user-container {
    margin-left: 569px; /* Adjust spacing */
    cursor: pointer;
}

/* Style for the user icon */
.user-container img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.user-container:hover {
    background-color: #6c91ba;
}

.user-container .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 4px;
    left: 1281px;
    min-width: 160px;
    border: 1px solid darkgray;
}

.user-container .dropdown-content a, .dropdown-content input {
    color: black;
    background-color: #EBEBEB;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    font-weight: normal;
    padding: 5px 5px;
}

.user-container .dropdown-content input {
    width: 100%;
}

.user-container .dropdown-content a:hover, .dropdown-content input:hover {
    background-color: #f1f1f1;
}

.content {
    display: flex;
}

.services-block {
    height: 100%;
    width: 118px;
    margin-left: 392px;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-radius: 0 0 0 5px;
    padding: 5px 3px;
}

.services-block a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: normal;
    height: 27px;
    border-radius: 5px;
    line-height: 27px;
    padding-left: 7px;
}

.services-block a:hover {
    background-color: #f1f1f1;
}

.main-block {
    min-height: 600px;
    width: 924px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-radius: 0 0 5px 5px;
}

.auth_form {
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 350px;
    height: 550px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    border: 1px solid darkgray;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.auth_form label {
    color: #4C75A3;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.auth_form input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.auth_form button {
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: #4C75A3;
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.auth_form button:hover {
    background: #6c91ba;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #4C75A3;
    transform: scale(.6);
}

#chk:checked ~ .login {
    transform: translateY(-550px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(.6);
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-container .photo {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.photo-container .photo h2 {
    font-size: 16px;
}

.photo-container .photo img {
    max-width: 100%;
}

.user-page {
    display: flex;
}

.user-page .left-block {
    height: 350px;
    width: 270px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.user-page .left-block .functional {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid darkgray;
}

.user-page .left-block .functional input {
    color: #808080;
    background-color: #EBEBEB;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: lighter;
}

.user-page .right-block {
    height: auto;
    width: 620px;
    padding: 10px;
}

.user-page .right-block .info {
    border-bottom: 1px solid darkgray;
    width: 633px;
}

.user-page .right-block .first-second-name {
    color: #4C75A3;
    font-weight: bold;
    padding-left: 6px;
}

.user-page .right-block .status .edit input {
    color: #a8a8a8;
    background-color: #EBEBEB;
    padding: 3px 0 10px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: normal;
}


