{% extends 'content.html' %}

{% block head %}
    <title>{{ user.first_name }} {{ user.second_name }}</title>
{% endblock %}

{% block content %}
    <div class="user-page">
        <div class="left-block">
            <div class="avatar">
                <img src="https://icon-library.com/images/anonymous-user-icon/anonymous-user-icon-2.jpg"
                     alt="user-picture">
            </div>
            <div class="functional">
                {% if current_user.username %}
                    <form class="edit" id="editUserPageForm">
                        <input type="submit" value="Редактировать страницу">
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="right-block">
            <div class="info">
                <div id="usernameDiv" data-my-variable="{{ user.username }}"></div>
                <div class="first-second-name">
                    {{ user.first_name }} {{ user.second_name }}
                </div>
                <div class="status">
                    <div class="status-text" id="status-text">
                        {% if user.status %}
                            {{ user.status }}
                        {% endif %}
                    </div>
                    {% if current_user.username %}
                        <form class="edit" id="editUserStatusForm">
                            <input type="submit" value="изменить статус" id="changeStatusInput">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}